body{
    margin: 0px 0px auto;
}

.home{
    position: relative;
    color: aliceblue;
    vertical-align: middle;
}

.navbar{
    position: absolute;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 1.5vw;
    right: 0px;
}

.nav{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 3.12vw;
    font-size: 1.72vw;
}

.num_format_button{
    text-decoration: none;
    background-color:slategray;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 1.5vw;
    font-size: 1.5vw;
}

.heading1{
    position: absolute;
    top: 32%;
    right: 5.4vw;
    font-size: 6.5vw;
    font-family: 'Sedgwick Ave', cursive;
}

.heading2{
    position: absolute;
    top: 52%;
    right: 5.46vw;
    font-size: 1.95vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.global_general{
    text-align: center;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:rgb(255, 255, 255);
}

.global_heading{
    color: rgb(0, 0, 0);
    padding: 20px 5px;
    font-size: 50px;
}

.global_confirmed{
    padding: 10px;
    color:crimson
}

.global_deaths{
    padding: 10px;
    color:rgb(100, 100, 100)
}

.global_confirmed_text{
    font-size: 30px;
}

.global_deaths_text{
    font-size: 30px;
}

.global_confirmed_total{
    font-size: 40px;
}

.global_confirmed_new{
    font-size: 20px;
}

.global_deaths_total{
    font-size: 40px;
}

.global_deaths_new{
    font-size: 20px;
}

.india_general{
    text-align: center;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:rgb(230, 230, 230);
}

.india_heading{
    color:rgb(0, 0, 0);
    padding: 20px 5px;
    font-size: 50px;
}

.india_confirmed{
    padding: 10px;
    color:crimson
}

.india_deaths{
    padding: 10px;
    color:rgb(100, 100, 100)
}

.india_recovered{
    padding: 10px;
    color:forestgreen
}

.india_active{
    padding: 10px;
    color:blue;
}

.india_confirmed_text{
    font-size: 30px;
}

.india_deaths_text{
    font-size: 30px;
}

.india_recovered_text{
    font-size: 30px;
}

.india_active_text{
    font-size: 30px;
}

.india_confirmed_total{
    font-size: 40px;
}

.india_confirmed_new{
    font-size: 20px;
}

.india_deaths_total{
    font-size: 40px;
}

.india_deaths_new{
    font-size: 20px;
}

.india_recovered_total{
    font-size: 40px;
}

.india_recovered_new{
    font-size: 20px;
}

.india_active_total{
    font-size: 40px;
}

.india_active_new{
    font-size: 20px;
}

.india_charts{
    padding-bottom: 70px;
    background-color:rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.india_daily_confirmed_chart_text{
    font-size: 30px;
    padding-top: 40px;
    color: rgb(150, 0, 0);
}

.india_daily_confirmed_chart{
    margin: 40px 20% 0 20%;
    padding: 20px;
    background-color:rgb(255,224,230);
}

.india_daily_confirmed_chart_buttons{
    font-size: 0px;
    text-align: right;
    margin-right: 20%;
}

.button{
    transition-duration: 0.4s;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    border: 0px;
    height: 40px;
    margin-left: -10px;
    border-bottom-left-radius: 10px;
    padding: 2px 25px 2px 15px
}

#b1{background-color:rgb(255, 195, 207);}
#b2{background-color:rgb(255, 233, 237);}
#b1:hover{background-color: rgb(255, 122, 122);}
#b2:hover{background-color: rgb(255, 122, 122);}

.india_total_active_chart_text{
    font-size: 30px;
    padding-top: 60px;
    color:darkblue;
}

.india_total_active_chart{
    margin: 40px 20% 0 20%;
    padding: 20px;
    background-color:rgb(223,238,255);
}

.india_total_active_chart_buttons{
    font-size: 0px;
    text-align: right;
    margin-right: 20%;
}

#b3{background-color:rgb(189, 220, 255);}
#b4{background-color:rgb(233, 243, 255);}
#b3:hover{background-color: rgb(103, 174, 255);}
#b4:hover{background-color: rgb(103, 174, 255);}


.contact{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: rgb(14, 20, 39);
    padding: 30px;
}

.madeby{
    padding-bottom: 20px;
}

.link{
    padding: 15px;
}
